body{
  background-color: #74F6B1; /*aqua*/
}

h1{
  color: #2E6955;

}

.botones{
  align-self: center;
}

#imgFut{
  height: 30px;
  width: 30px;
}

#imgTennis{
  height: 30px;
  width: 30px;
}

#imgBasquet{
  height: 30px;
  width: 30px;
}
